// ********************************************
// GLOBAL
// ********************************************


$lightblue: rgba(115, 73, 214, 0.5);
$darkbkue: #0A0A13;

::-moz-selection { 
  background:$lightblue;
  color: #fc2;
  padding: 10px;
}
::selection {
  background: $lightblue;
  color: #fc2;
  padding: 10px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'montserrat', sans-serif;
  line-height: 150%;
}

body {
  color: #fff;
  background: $darkbkue;
}

p {
  font-size: 18px;
}

.text-out {
  -webkit-text-stroke: 1px #4DC1D0;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}


.dot {
  background: #4DC1D0;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  animation: dots 15s linear infinite;
  opacity: 0;
  box-shadow: 0 0 5px #4DC1D0;
  &2 {
    bottom: 100px;
    animation-delay: 1s;
  }
  &3 {
    bottom: 20px;
    animation-delay: 3s;
  }
  &4 {
    bottom: 300px;
    animation-delay: 6s;
  }
  &5 {
    bottom: 500px;
    animation-delay: 8s;
  }
  &6 {
    left: 250px;
    bottom: 350px;
    animation-delay: 9s;
  }
  &7 {
    left: 400px;
    bottom: 200px;
    animation-delay: 10s;
  }
  &8 {
    left: 300px;
    bottom: 300px;
    animation-delay: 11s;
  }
  &9 {
    left: 600px;
    bottom: 500px;
    animation-delay: 12s;
  }
}

@keyframes dots {
  0% {
    transform: translate(-100px, 0);
    opacity: 0;
  }
  25% {
    transform: translate(100px, -100px);
  }
  50% {
    transform: translate(200px, -200px);
  }
  75% {
    transform: translate(300px, -300px);
  }
  100% {
    transform: translate(400px, -400px);
    opacity: 1;
  }
}

// ********************************************
// NAV
// ********************************************
.nav {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-arrow {
    width: 30px;
    height: 30px;
    background-image: url(../imgs/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    &-bottom {
      transform: rotate(180deg);
      margin-top: 20px;
    }
  }
  &-button {
    width: 2px;
    height: 13%;
    background: #ffffff13;
    &--active {
      background: #4DC1D0;
    }
  }
}



// ********************************************
// HEADER
// ********************************************
.header {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  padding: 50px 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  
  &-logo {
    width: 6%;
  }
  &-heading {
    width: 90%;
    font-size: 62px;
    font-weight: 900;
    line-height: 1;
  }
  
  &-container {
    display: flex;
    justify-content: space-between;
  }
  
  &-description {
    margin-top: 20px;
    width: auto;
    font-size: 18px;
    &-left {
      width: 500px;
      margin-right: 50px;
    }
    &-right {
      width: 600px;
    }
  }
  
  &-btn {
    position: relative;
    width: 200px;
    height: 54px;
    background: url(../imgs/wave.svg);
    background-repeat: repeat-x;
    background-position: 95% -100%;
    border: none;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    transition: 1.5s ease;
    cursor: pointer;
    box-shadow: inset 90px 4px -40px -10px #fff;
    &:hover {
      border: 1px solid $darkbkue;
      box-shadow: inset 0 -50px 0 #4DC1D0;
      background-position: 2% 65%;
    }
  }
  &-mouse {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    background-image: url(../imgs/wave.svg);
    background-repeat: repeat-x;
    background-position: 95% -100%;
    border-radius: 35px;
    transition: 1.5s;
    border: 1px solid transparent;
    &:hover {
      box-shadow: inset -3px -30px #4DC1D0;
      background-position: 2% 40%;
    }
  }
}

// ********************************************
// ADVANTAGES
// ********************************************

.advantages {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 5%;
  &>* {
    border: 1px solid #fff;
  }
  &-heading {
    
  }
  &-wrapper {
    &>* {
      border: 1px solid #fff;
    }
    width: 80%;
    display: flex;
    justify-content: space-between;
    &-adv {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}